{% extends "layout.html" %}
{% block title %}{{ g.title }} List{% endblock %}
{% block body %}
	<h2>{{g.title}} List</h2>
      	<p id="addRecord"><a href="{{ g.editURL }}0/">Add a new {{ g.title }}</a></p>
	{%if recs %}
		<table class="datatable">
		<tr>
            <th>Model</th>
            <th>Desc</th>
            <th>Price</th>
            <th>Active</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td style="min-width:80px;"><a href="{{ g.editURL }}{{ rec.id }}/">{{ rec.model }}</a></td>
            <td>{{ rec.desc | truncate(30)}}</td>
            <td style="text-align:right;">{{ rec.price | money }}</td>
            <td style="text-align:center;">{% if rec.active == 1 %}
                <img src="{{ url_for('static', filename='images/check_mark.png') }}" />{% else %}
                <img src="{{ url_for('static', filename='images/red_x.png') }}" />
                {%endif%}
            </td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No {{ g.title }}s here so far</em></p>
	{% endif %}
{% endblock %}
