{# Form body for model editing
    
    sql = """
        model TEXT UNIQUE NOT NULL,
        desc TEXT,
        size TEXT,
        bike_cnt INTEGER DEFAULT 1,
        price NUMBER DEFAULT 0,
        active NUMBER DEFAULT 1,
        price_change_date DATETIME,
        prod_id INTEGER,
        
        FOREIGN KEY (prod_id) REFERENCES product(id) ON DELETE CASCADE"""
 #}

<fieldset>
	<input type=hidden name="id" value="{{rec.id|default('0',True )}}">
    {% if products and not current_product %}
    <h3>Select a Product for this Model</h3>
    <select name="prod_id">
        <option value="0"><em>Select one</em></option>
        {% for product in products %}
        <option value="{{product.id}}">{{ product.name}}</option>
        {% endfor %}
    </select>
    {% else %}
		<input type=hidden name="prod_id" value="{{rec.prod_id|default('0',True )}}">
        <h3>Edit Model for {{current_product.name}}</h3>
    {% endif %}
    <p><span>Model Name:</span><input type="num" size="15" name="model" required value="{{ rec.model|default('',True )}}" /></p>
    <p><span>Description:</span><input type="text" size="45" name="desc"  value="{{ rec.desc|default('',True )}}" /></p>
    <p><span>Size:</span><input type="text" size="25" name="size"  value="{{ rec.size|default('',True )}}" /></p>
    <p><span>Bike Count:</span><input type="num" size="5" name="bike_cnt"  value="{{ rec.bike_cnt|default('0', True)}}" /></p>
    <p><span>Price:</span>
        <input type="num" size="10" name="price" value="{{ rec.price|default('0',True )|money}}" />
    </p>
    <p><span>Price Change Date: </span><input type="text" size="20" required name="price_change_date" value="{{ rec.price_change_date|default('',True )|short_date_string}}" /></p>
    <p><span>Active:</span>
        <label><input type="radio" name="active" value="1" {% if rec.active == 1 %} checked="checked" {%endif%} />Active</label>
        &nbsp;&nbsp;
        <label><input type="radio" name="active" value="0" {% if rec.active != 1 %} checked="checked" {%endif%} />Inactive</label>
        
    </p>
</fieldset>
