{% extends "id.html" %}

{% comment %} parkingIntro.html {% endcomment %}

{% block content %}
	<h1>{{ pageName }}</h1>
	<p class="first">Parking racks suitable for outdoor use are a tremendous convenience to bicycle commuters, 
	customers and visitors.  Publicly available bike racks are even required by many municipal
	building codes.</p>
	<p>Lindcraft Parking Racks are incredibly durable. In fact they're nearly indestructible! All
	steel, welded construction makes them extremely strong and vandal resistant. Industrial strength "Powder Coating" finish means that our 
	will last for many years exposed to the elements without rust or corrosion</p>
{% endblock %}
