{% extends "layout.html" %}

{% comment %} id.html {% endcomment %}

{% block js %}{{ block.super }}{% endblock %}
{% block css %}{{ block.super }}{% endblock %}

{% block title %}Lindcraft Bike Racks - {{ pageName }}{% endblock %}

{% block head1 %}
<div id="logoblock">
    <p>
	<a href="{{ url_for( 'www.home') }}" ><img  id="bikelogo"src="{{ url_for('statuc', filename= 'images/BikesLogo.gif') }}" /></a>
	<a href="{{ url_for( 'www.home') }}" ><img id="lcrlogo" src="{{ url_for('static', filename='images/Lindcraft_Logo.gif') }}" /></a>
    </p>
	<h2>BICYCLE DISPLAY FIXTURES</h2>
</div>
{% endblock %}

{% block nav %}{% include 'nav.html' %}{% endblock %}

{% block section1 %}<div class="content" >{% endblock %}
{% block section2 %}<div id="stage" >{% endblock %}

{% block content %}{% endblock %}

{% block section3 %}<p class="clearer">&nbsp;</p></div>{% endblock %}
{% block section4 %}</div>{% endblock %}

{% block footer %}
    <p class="noprint">
    	<strong>LINDCRAFT</strong>&nbsp;&nbsp;-&nbsp;&nbsp;1-800-326-0965&nbsp;&nbsp;-&nbsp;&nbsp;
    	Fax:&nbsp;1-916-985-7731&nbsp;&nbsp;-&nbsp;
    	<span class="contactLink"><a href="{{ url_for( 'www.contact') }}">Contact Us</a></span>
    	<span class="contactPrint">www.LindcraftRacks.biz</span>
    </p>
{% endblock %}

{% block googleAnalytics  %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12115229-1");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endblock %}