<table class="priceTable">
	<tr>
		<th class="center">
			Model
		</th>
		<th class="center">
			Length
		</th>
		<th class="center">
			#&nbsp;Bikes 
		</th>
		<th class="center">
			Price
		</th>
	</tr>
	{% for product in price_list %}
		{% if show_groups  %}
		<tr>
			<td class="priceTableGroup" colspan=3>{{ product['product'].name }}</td>
		</tr>
		{% endif %}
		{% for model in product['models'] %}
		<tr >
			<td class="left dotleader">
				<span class="noDotLeader">{{ model.model }} {{ model.desc }}</span>
			</td>
			<td class="center">
                {%if model.size %}
				{{ model.size| default('',True) }}
                {% else %}
                --
                {% endif %}
			</td>
			<td class="center">
			    {% if model.bikeCnt  %}
				{{ model.bikeCnt }} 
				{% else %}
				--
			    {% endif %}
			</td>
			<td class="right">
				{% if model.price %}
				${{ model.price| money }}
				{% else %}
				Call&nbsp;for&nbsp;Pricing
				{% endif %} 
			</td>
		</tr>
		{% endfor %}
	{% endfor %}
</table>