<p><span class="script-link" onclick="editFromList('{{url_for('model.edit_from_list')}}0/{{prod_id}}/')">Add Model...</span></p>
{% if models %}
    <table>
    <tr>
        <th>Model</th>
        <th>Size</th>
        <th>Eff. Date</th>
        <th>Price</th>
        <th>Active</th>
        <th colspan="2">Actions</th>
    </tr>
    {% for model in models %}
        <tr id="model-{{model.id}}">
            <td>{{model.model}}</td>
            <td>{{model.size }}</td>
            <td>{{ model.price_change_date | short_date_string }}</td>
            <td style="text-align:right;">{{ model.price | money }}</td>
            <td style="text-align:center;">{% if model.active == 1 %}
                <img src="{{ url_for('static', filename='images/check_mark.png') }}" />{% else %}
                <img src="{{ url_for('static', filename='images/red_x.png') }}" />
                {%endif%}
            </td>
            <td><span class="script-link" onclick="editFromList('{{ url_for('model.edit_from_list')}}{{ model.id }}/','model_list')">edit</span></td>
            <td><span class="script-link" onclick="$.ajaxSetup({'async' : false});deleteFromList('{{ url_for('model.delete_from_list')}}{{ model.id }}/','model-{{model.id}}');">delete</span></td>
        </tr>
    {% endfor%}
{% else %}
    <p>No Models to list...</p>
    </table>
{% endif %}

